@import "../../../_custom-theme.scss";

#login-card {
  background-color: #fdfdfd;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 15% 10%;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
#login-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.form-title {
  font-size: 1.25rem;
  font-weight: bold;
}

button[type="submit"] {
  letter-spacing: 1px;
}

.btn-content {
  position: relative;
}
#progress-bar-1 {
  display: inline-block;
  position: absolute;
  height: 4px;
  border-radius: 15px;
  left: 0;
  background-color: $primary;
  animation: progressright 2s linear infinite;
}

#progress-bar-2 {
  display: inline-block;
  position: absolute;
  height: 4px;
  border-radius: 15px;
  right: 0;
  background-color: $primary;
  animation: progressleft 2s linear infinite;
}

@keyframes progressright {
  0% {
    opacity: 1;
    width: 0%;
  }
  50% {
    opacity: 0;
    width: 100%;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes progressleft {
  0% {
    opacity: 0;
    width: 0%;
  }
  50% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
