<div class="user-home d-flex flex-column h-100 custom-primary">
  <div class="header custom-primary p-4">
    <div class="logo" href="#" class="d-flex align-items-center">
      <img
        src="assets/logo.svg"
        width="30"
        height="30"
        class="d-inline-block align-top mr-3"
        alt=""
        loading="lazy"
      />
      <div class="title">To Do</div>
    </div>
  </div>
  <div
    class="page-not-found custom-bg flex-grow-1 d-flex flex-column align-items-center"
  >
    <img
      src="assets/page-not-found.svg"
      width="300"
      height="300"
      class="d-inline-block align-top mr-3"
      alt=""
      loading="lazy"
    />
    <div class="page-not-found-content d-flex flex-column align-items-center">
      <div class="page-not-found-title mb-2">
        Oops. The page you were looking for does not exist.
      </div>
      <div class="page-not-found-desc mb-2">
        You may have mistyped the address or the page may have been removed.
      </div>
    </div>
    <button
      routerLink=""
      class="mt-3"
      mat-raised-button
      type="button"
      color="primary"
    >
      Go Home
    </button>
  </div>
</div>
