<div class="py-3 p-lg-0 mb-5 mb-lg-0 position-relative">
  <span *ngIf="isLoading" id="progress-bar-1"></span>
  <span *ngIf="isLoading" id="progress-bar-2"></span>

  <div id="login-card" style="min-width: 50%">
    <div class="form-title mb-3">Reset Password</div>
    <form
      (submit)="onReset(loginForm)"
      #loginForm="ngForm"
      style="font-size: 13px"
    >
      <mat-label *ngIf="!resetMail" class="w-100"
        >Enter the Email associated with your account and we will send a mail
        with instructons to reset your password.</mat-label
      >
      <div
        *ngIf="resetMail"
        class="success-info d-flex align-items-center mb-2"
      >
        <img
          src="assets/email.svg"
          width="50 "
          height="50"
          class="d-inline-block align-top mr-3"
          alt=""
          loading="lazy"
        />
        <mat-label class="w-100"
          >Password reset instructions has been successfully sent to
          <strong> {{ resetMail }}</strong></mat-label
        >
      </div>
      <mat-form-field class="w-100 mt-2" color="accent" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          ngModel
          name="email"
          type="email"
          #emailInput="ngModel"
          required
          email
          placeholder="Ex. pat@example.com"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="emailInput.invalid && !emailInput.hasError('required')"
        >
          Please enter a valid Email ID
        </mat-error>
        <mat-error *ngIf="emailInput.hasError('required')">
          Field is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        class="w-100 mt-4 py-1"
        type="submit"
        color="primary"
      >
        CONFIRM
      </button>
    </form>
    <div class="mt-5 text-center">
      <a routerLink="/user/login">Login to your account</a>
    </div>
  </div>
</div>
