@import "../../../_custom-theme.scss";
@import "../../../../node_modules/bootstrap/scss/bootstrap";

$medium: 768px;

@mixin medium {
  @media (max-width: #{$medium}) {
    @content;
  }
}

#friends-area-nav {
  .nav-item {
    position: relative;
    font-size: 18px;
    font-weight: 800;
    color: $primary;
    text-decoration: none;
    transition: transform 0.3s ease-in;
    cursor: pointer;

    &.selected {
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 6px;
        background-color: $accent;
        top: 100%;
        left: 0;
        clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
      }
    }

    &:not(.selected) {
      &:hover {
        transform: translateY(-2px);
      }
    }

    @include medium {
      font-size: 14px;
    }
  }
}

#progress-indicator {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
}

#empty-list {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 70%;

  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}

#inner-container {
  position: relative;
  height: 10px;
}

#progress-bar-1 {
  display: inline-block;
  position: absolute;
  height: 10px;
  left: 0;
  background-color: $primary;
  animation: progressright 2s linear infinite;
}

#progress-bar-2 {
  display: inline-block;
  position: absolute;
  height: 10px;

  right: 0;
  background-color: $primary;
  animation: progressleft 2s linear infinite;
}

@keyframes progressright {
  0% {
    opacity: 1;
    width: 0%;
  }
  50% {
    opacity: 0;
    width: 100%;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes progressleft {
  0% {
    opacity: 0;
    width: 0%;
  }
  50% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
